/* css reset  */

* {
  margin: 0;
  padding: 0;
}

nav {
  height: 111px;
  justify-content: space-evenly;
}

.nav-text ul {
  font-size: 22px;
  gap: 50px;
}

.nav-text ul li {
  list-style: none;
}

.nav-text ul li a {
  text-decoration: none;
  color: black;
}

.nav-buttons {
  gap: 25px;
}

.nav-buttons a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.nav-buttons button:hover {
  transition: all 0.5s ease;
  background-color: #cd3d35;
}

.first {
  height: 80vh;
}

.hero {
  justify-content: space-between;
  gap: 200px;
}

.hero .image-container {
  width: 570px;
  height: 478px;
  border-radius: 36px;
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-container img {
  position: absolute;
  bottom: 0;
  left: 50px;
}
