/* This css file is for utility classes. */

/* Font properties */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-family {
  font-family: "Poppins", sans-serif;
}

.inter-family {
  font-family: "Inter", sans-serif;
}

/* background colors */

.nav-bg {
  background-color: #fff4b5;
}

.first-bg {
  background-color: #87a2ff;
}

.second-bg {
  background-color: #afddff;
}

.newsletter-bg {
  background-color: #03c988;
}

.footer-bg {
  background-color: #1e3e62;
}

/* flexbox properties */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* grid properties */

.grid {
  display: grid;
}

/* buttons */

.orange-btn {
  border: none;
  border-radius: 36px;
  padding: 13px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #e94339;
  cursor: pointer;
}
